<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # Redirect http://coralperfumes.com/ to https://www.coralperfumes.com/
  RewriteCond %{HTTP_HOST} ^coralperfumes\.com$ [NC]
  RewriteRule ^(.*)$ https://www.coralperfumes.com/$1 [R=301,L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
