
@media (min-width: 1600px) {
  footer.footer .container {
    max-width: 88% !important;
}.footer .nav .nav-item .nav-link {
  
  font-size: 15px;
}
  .product-desc-section h1 {
    font-size: 27px;
  }
  .footer h6 {
    font-size: 14px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 17px;
}
.desktop_logo_section img {
  width: 130px;}
  .imgs-header {
    width: 26px;
}
.dropdown-text {
  font-size: 0.88rem;}
  .custom-mega-menu .dropdown-item {
    font-size: 13px;
  }
  .category-top-img h3 {
    font-size: 17px;
  }
  .order-top-row {
    font-size: 16px;
  }
  .order-bottom-row h4 {
    font-size: 18px;}
    .order-bottom-row h5 {
      font-size: 15px;
    }
    .product-img img {
      max-height: 300px;
  }
  .product-grid h4 {
    font-size: 18px;}
    .checkout-left-card h4 {
      font-size: 21px;
    }
    .left-sec-text {
      font-size: 15px;
    }
    .return-reason span {
      font-size: 15px;
  }
  .cart-summary-label {
    font-size: 14px;}
    body.blog .container-new {
      width: 100%;
      max-width: 90%;
  }
  .social-mdedia-icons img {
    width: 35px;
    height: 35px;}
   .menu-drop-link {
      font-size: 14px;
  }
  .p-ul li {
    font-size: 17px;
}
.p-d-c {
  font-size: 17px;
}
.return-policy-div p {
  font-size: 16px;
}
  .return-policy-div h6 {
    font-size: 14px;
  }
  .product-img {
    height: 100%;
    height: 320px;}
 .nav-category .nav-item .nav-link {
      font-size: 21px;
    }
}
@media (max-width: 1440px) {
  .container-new {
    width: 100%;
    max-width: 1150px;
  }

  .scroll-container2
   {
    max-height: 170px;}
  .order-bottom-row .react-multiple-carousel__arrow--left {
    left: calc(29% + 18px);}
  .navbar .dropdown-fullwidth .dropdown-menu {
    max-height: 75vh;
  }
  .image-list-one img {
    height: 500px;
  }
  .deatil-blog-content h1 {
    font-size: 29px;
  }
  .owl-carousel.owl-theme.owl-slider button.owl-prev {
    left: -50px;
  }
  .owl-carousel.owl-theme.owl-slider button.owl-next {
    right: -50px;
  }
  .blog-sub-text h2 {
    font-size: 29px;
  }
  .blog-content h2 {
    font-size: 34px;
  }
  .blog-content-sub h2 {
    color: #0000;
    font-family: "BrandonText-Bold", sans-serif;
    font-size: 19px;
    padding-bottom: 15px;
  }
  .blog-content-sub p {
    font-size: 13px;
  }
  .blog-content-sub a {
    margin-top: 40px;
    font-size: 13px;
  }
  span.blog-date {
    font-size: 13px;
    display: block;
    padding-top: 35px;
  }
  .storage-care-img img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }
  .storage-rows p {
    color: #000;
    text-align: justify;
    font-family: "BrandonText-Regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 390;
    line-height: 187.99%;
    letter-spacing: 1.1px;
    text-transform: capitalize;
  }
  .blog-text-personality p {
    font-size: 13px;
  }
  .blog-text-personality h3 {
    font-size: 19px;
  }
  .blog-text-personality a {
    line-height: 143%;
    margin-top: 60px;
    display: inline-block;
    font-size: 13px;
  }
  .left-gallery-one img {
    height: 525px;
  }
  .right-gallery-one img {
    height: 257px;
  }
  .gallery-flex ul li img {
    width: 100%;
    height: 459px;
  }
  .storage-rows a {
    font-size: 13px;
  }
  .blog-col-1 img {
    height: 380px;
  }
  ol.breadcrumb {
    margin-bottom: 2rem;
    margin-top: 50px;
  }

  .brand-rating-date {
    font-size: 11px;
    line-height: 24px;
  }
  .col-md-5.col-4.icon-end {
    text-align: center;
  }
 
  .input-group-custom.input-spinner {
    justify-content: center;
    margin-left: 29px;
  }
  .imgs-header {
    width: 17px;
  }
  .ftr-tamara img {
    width: 95px;
 }
 .logo-m img.footer-logo-size {
  width: 60px;
  padding-top: 0px;
}
.footer-logo-size {
  width: 47px;
  padding-top: 5px;
}
h5.fbt-selling-price {
  color: #000;
  font-size: 14px;
}

.react-multi-carousel-list.container-with-dots.fbt-product-plus .react-multiple-carousel__arrow--left {
  left: calc(0% + 1px);
  top: 103px;
}
.react-multi-carousel-list.container-with-dots.fbt-product-plus .react-multiple-carousel__arrow--right {
  right: calc(0% + 1px);
  top: 103px;
}
h4.fbt-ellipsis-text {
  max-height: 70px;}
}
@media (max-width: 1366px) {
  .container-new {
    width: 90%;
    margin: 0 auto;
  }
 
}
@media only screen and (max-width: 1200px) {
  .container-new {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-new {
    width: 90%;
    margin: 0 auto;
  }
  .product-grid h4 {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
    text-align: left !important;
  }
  .right-gallery-one img:nth-child(1) {
    padding-bottom: 1px;
  }
  .right-gallery-one img:nth-child(2) {
    padding-top: 1px;
  }
  .visit-text a {
    margin-top: 25px;
    display: flex;
    width: 130px;
    height: 40px;
    padding: 16px 20px;
  }
  .owl-carousel.owl-theme.owl-slider button.owl-next {
    right: -39px;
  }
  .owl-carousel.owl-theme.owl-slider button.owl-prev {
    left: -40px;
  }
  .wi-50 {
    width: 100%;
    text-align: center;
    padding: 30px;
  }
  .career-review-text h3 {
    font-size: 17px;
  }
  .career-review-text p {
    font-size: 13px;
  }
  .apply-form form {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
  }
  .selling-price {
    font-size: 13px;
  }
  .discounted-price {
    font-size: 13px;
  }
  .discount-percentage {
    font-size: 13px;
  }
  .storage-care-img img {
    width: 120px;
    height: 120px;
  }
  .blog-content-sub p {
    font-size: 11px;
    line-height: 18px;
  }
  .blog-text-personality p {
    font-size: 11px;
    line-height: 18px;
  }
  .storage-rows p {
    font-size: 12px;
    font-weight: 390;
    line-height: 170.99%;
    letter-spacing: normal;
  }
  .storage-rows a {
    font-size: 13px;
  }
  .blog-sub-text h2 {
    font-size: 22px;
    font-weight: 450;
    line-height: 144.49%;
  }
  .ftr-tamara img {
    width: 42px;
}
.ftr-visa img {
  width: 37px;
}
.ftr-mcard img {
  width: 40px;
}
.desktop_logo_section {
  display: block!important;
}
nav.fixed-top.bg-white {
  padding-bottom: 0px;
}
.wallet-banner h1 {
  font-size: 30px !important;
}
.wallet-card h2 {
  font-size: 17px;
  line-height: 25px;
}
.nav-pills-dark .nav-item .nav-link {
  font-size: 11px;
}
ul.nav.flex-column.nav-pills.nav-pills-dark a.nav-link img {
  width: 35px;
}
.footer .nav .nav-item .nav-link {
  font-size: 10px;}
}
@media screen and (max-width: 767px) {
  .container-new {
    width: 90%;
  }
  .image-list-one img {
    height: 246px;
  }
  body.order-details .order-img img {
    height: 85px;
  }.request-ret h3 {
    padding-right: 10px;
}
body.checkout .row.g-4.m-2.mts {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.row.ads-block .menu-thumbnails img {
  border-radius: 50%;
  padding-right: 0px;
  transform: none;
}
div#offcanvasSubMenus .megamenu-ads {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
body.checkout div#flush-collapseOne input.form-control {
  padding: 7px 10px !important;
}
  .right-gallery-one img:nth-child(2) {
    padding-top: 0px;
  }
  .right-gallery-one img:nth-child(1) {
    padding-bottom: 0px;
  }
  .info-text p {
    font-size: 12px;
    font-weight: 390;
    line-height: 22px;
  }
  .sub-abt p {
    font-size: 12px;
    font-weight: 390;
    line-height: 22px;
  }
  .sub-abt h2 {
    font-size: 16px;
    line-height: 40%;
  }
  section.abut-section{
    padding-bottom: 30px;
  }
  .start-explor {
    padding: 30px 0px;
  }
  .viisit-img {
    width: 45%;
  }
  .visit-text {
    width: 55%;
    background-color: #000;
    max-height: 349px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    box-sizing: border-box;
  }
  .viisit-img img {
    width: 100%;
    height: 235px;
  }
  .visit-text a {
    margin-top: 15px;
    width: 110px;
    height: 24px;
    padding: 16px 16px;
    gap: 38px;
    flex-shrink: 0;
    font-size: 11px;
  }
  .visit-row {
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .t-gap {
    margin-top: 30px;
  }
  .visit-tittle h1 {
    text-align: center;
  }
  .visit-tittle {
    width: 100%;
  }
  .choose-emirates {
    width: 100%;
    text-align: right;
    padding-top: 20px;
  }
  .visit-text h2 {
    font-size: 18px;
    line-height: 30px;
  }
  .store-address {
    width: 100%;
  }
  .store-hours {
    width: 100%;
  }
  .store-contact {
    width: 100%;
  }
  .row-details {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px;
    gap: 0px 0px;
  }
  .row-details h2 {
    font-size: 17px;
    line-height: 55px;
  }
  .row-details h5 {
    font-size: 17px;
  }
  .row-details p {
    font-size: 14px;
    line-height: 50px;
  }
  .direction-btn a {
    display: flex;
    width: 300px;
  }
  .lg-none {
    display: block;
  }
  .sm-none {
    display: none;
  }
  .slid-mobview img {
    width: 100%;
  }
  .slid-mobview {
    padding-bottom: 25px;
  }
  body.checkout .dropdown-item, .inline-thumb {
    border-bottom: 0.5px solid #bdbebb;
    padding: 7px 20px;
}
  .carrer-listing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .sales-list {
    width: 85%;
    margin: 0 auto;
  }
  .marketing-list {
    width: 85%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .finance-list {
    width: 85%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .corporate-list {
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
  }
  .career-review-img {
    width: 50%;
    display: none;
  }
  .career-review-text {
    width: 100%;
  }
  .wi-50 {
    width: 100%;
    text-align: center;
    padding: 30px;
  }
  .career-review-text h3 {
    font-size: 15px;
    line-height: 30px;
  }
  .career-review-text p {
    font-size: 13px;
  }
  .carrer-listing ul li {
    font-size: 13px;
    line-height: 27px;
  }
  .carrer-listing ul {
    padding-top: 10px;
  }
  .carrer-listing h3 {
    font-size: 17px;
  }
  .carrer-listing {
    width: 100%;
  }
  .career-review-text span {
    display: inline;
  }
  .apply-form form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .apply-form .form-group {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .apply-form input[type="text"],
  input[type="file"] {
    width: 100%;
  }
  .faq-w {
    width: 100%;
  }
  .faq-accordion li a {
    color: #666;
    padding: 0;
  }
  .blog-sub-text h2 {
    font-size: 17px;
  }
  .blog-rows {
    display: flex;
    flex-direction: column;
  }
  .blog-col-1 {
    width: 100%;
    order: 0;
  }
  .blog-col-2 {
    width: 100%;
    order: 1;
  }
  span.blog-date {
    padding-top: 15px;
}
.blog-content-sub a {
  margin-top: 20px;
}
.blog-text-personality .faq p a {
  margin-top: 0 !important;
}
.blog-text-personality a {
  margin-top: 10px;
}
span.blog-date {
  padding-bottom: 0px;
}
  .blog-content-sub {
    padding: 20px 0px;
  }
  .storage-rows {
    display: flex;
    flex-direction: column;
  }
  .storage-care {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 0px;
  }
  .shelf-life {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-top: 35px;
  }
  .navbar-dark {
    border-bottom: none;
  }
  .storage-care {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 0px;
  }
  .storage-care-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .storage-rows p {
    font-size: 11px;
    font-weight: 390;
    line-height: 163.99%;
    letter-spacing: 1.1px;
    max-height: max-content;
    overflow: visible;
  }
  .storage-rows a {
    font-size: 11px;
    font-weight: 390;
    line-height: 35px;
  }
  .blog-text-personality h3 {
    font-size: 17px;
  }
  .blog-img-personality {
    padding-left: 0px;
  }
  section.perfume-row-3 {
    padding: 0px;
  }
  .blog-content-sub h2 {
    padding: 15px 0px;
  }
  .order-1 {
    order: 0;
  }
  .order-2 {
    order: 1;
  }
  .blog-text-personality {
    padding: 20px 0px;
  }

  .bg-blog-banner {
    background-image: url(../images/blog-banner.webp);
    background-position: center;
    width: 100%;
    min-height: 340px;
  }
  .blog-content {
    padding: 25px;
  }
  .blog-content h2 {
    font-size: 24px;
  }
  .blog-content a {
    display: flex;
    width: 144px;
    height: 35px;
    padding: 16px 36px;
    justify-content: center;
    align-items: center;
    gap: 38px;
    font-size: 10px;
    margin-top: 19px;
  }
  .title-page {
    padding: 20px 0px;
  }

  .visit-tittle {
    width: 100%;
  }
  .blog-col-1 img {
    height: 350px;
    width: 100%;
  }
  .right-gallery-one img {
    height: 122px;
  }
  .left-gallery-one img {
    height: 253px;
  }
  .details-full-img {
    width: 100%;
  }
  .deatil-blog-content h1 {
    font-size: 20px;
  }
  .deatil-blog-content h2 {
    font-size: 18px;
  }
  .deatil-blog-contents h3 {
    font-size: 18px;
  }
  .blog-detail-page {
    padding-top: 40px;
  }
  .deatil-blog-content p {
    font-size: 12px;
    line-height: 25px;
  }
  .deatil-blog-contents p {
    font-size: 12px;
    line-height: 25px;
  }
  .date-text p {
    font-size: 11px;
  }
  .storage-rows h3 {
    font-size: 16px;
    line-height: 50px;
  }
  .product-grid .card-footer {
    margin: 0;
  }
  .card-footer.border-0 h4.ellipsis-text {
    font-size: 12px !important;
    padding-left: 4px;
  }
  .sortHeader h5 {
    text-align: center;
    padding-bottom: 15px;
  }
  a.dropdown-toggle.text-dark.btn-filter {
    padding: 5px;
    display: block;
  }
  
.flash-sale-box span img,
  svg {
    vertical-align: middle;
  }

  .d-block.d-lg-none.my-2 {
    margin-bottom: 0px !important;
  }
  .col-lg-9.col-md-12 .mt-4 {
    margin-top: 5px !important;
  }
  .visit-row ul li {
    width: 100%;
  }

  .offcanvas {
    z-index: 999 !important;
  }

  .product-grid h4 {
    white-space: normal;
    line-height: 20px;
    height: 58px;
    text-align: left !important;
  }
  button.ModalBtn.offer-button {
    display: none;
  }
  .container.d-block.d-sm-none.mob-count {
    position: absolute;
    top: -14px;
  }
  .banner-flashsale {
    position: relative;
  }
  .flash-sale-container h1 {
    text-align: left;
  }
  .col-lg-9.col-md-12.brands-sub {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    width: 95% !important;
    margin: 0 auto;
  }
  .col-auto.search-tag {
    margin-right: 20px;
  }
  .hd-left {
    padding-left: 35px;
  }
  h1.mb-5.flash-sale {
    text-align: center;
  }
  .custom-badge {
    position: absolute;
    left: -17px;
    transform: scale(0.55);
    top: 4px;
  }
  .my-bag-spinner {
    transform: scale(0.65);
    position: relative;
    left: -26%;
  }
  .conatiner.pd-detail .row.mb-5 {
    padding: 0 15px;
  }
  .conatiner.pd-detail .mob-specs {
    padding: 0 15px;
  }
  span.color-txt {
    color: #a7a9a2;
  }
  div#myTabContent button.btn.btn-dark.validate {
    margin-left: 5px !important;
    padding-left: 40px;
    padding-right: 40px;
    width: 94%;
  }
  h6.ps-15.h6 {
    padding-left: 4rem !important;
  }
  li.list-group-item.ps-0.d-flex.justify-content-between.align-items-start.border-tp {
    border-top: solid 1px #e8dede;
  }
  .col.best-scroll {
    max-height: none;
    overflow-y: auto;
  }
  footer.footer .container {
    width: 100% !important;
  }
  .d-flex.justify-content-between.align-items-center.d-md-none.py-4
    h3.fs-5.mb-0 {
    display: none;
  }
  .card.checkout-left-card hr {
    width: 90%;
    margin: 0 auto;
  }
  .checkout-left-card h4 {
    color: #000;
    font-family: var(--fc-font-medium);
    font-size: 12px;
    text-transform: capitalize;
    line-height: 180%;
    max-height: 45px;
    overflow: hidden;
  }
  ul.list-group.list-group-flush.mob-flush li:first-child {
    margin-right: 0 !important;
    padding-right: 13px;
  }
  .alert-box-bag-empty p {
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  #price-my-bag .selling-price {
    padding-left: 5px;
  }
  #price-my-bag .discount-percentage {
    margin-left: 0px;
  }
  .my-bag-card {
    margin: 20px 0 10px 0;
  }
  .input-group-custom.input-spinner {
    justify-content: center;
    margin-left: 30px;
  }
  .mob-change {
    padding: 0px 20px;
  }
  .col-md-6.col-12.text-end.mob-change a {
    display: inline-block;
    padding-right: 20px;
    padding-top: 20px;
  }
  .icon-input__icon {
    display: block;
  }
  .icon-input__icon {
    top: 17px !important;
    right: 1rem;
    transform: translateY(-50%);
    width: 14px;
  }
  .mob-view .input-group .form-control {
    padding: 5px 20px !important;
  }
  .row.search-container.row.search-top {
    padding: 0px 25px;
  }
  .row.mob-view .input-group {
    display: none;
  }
  /*body.home .row.mob-view .input-group {
    display: block !important;
  }*/
  .fixed-top-margin {
    margin-top: 10px;
  }
  .product-single-price,
  .product-single-discounted-price,
  .product-single-discounted {
    font-size: 13px !important;
  }
  .row.full-views .col-4 {
    margin-right: 0px;
    padding-right: 0px;
    width: 30%;
  }
  .row.full-views .row.icon-section {
    justify-content: end;
    padding-right: 20px;
  }
  .row.full-views .col-md-8.col-8 {
    padding-right: 0px;
  }
  body.wishlist .fixed-top-margin.main-layout {
    margin-top: 5px !important;
  }
  .fixed-top {
    padding-bottom: 5px;
    border: none;
  }
  .fixed-top-margin {
    margin-top: 5px;
  }
  body.cart .fixed-top-margin {
    margin-top: 5px;
  }
  body.wishlist .fixed-top-margin.main-layout {
    margin-top: 5px;
  }

  .d-flex.justify-content-between.align-items-center.d-md-none.py-4 {
    display: none !important;
  }
  .row.p-ul ul li {
    list-style-type: disc;
  }
  .search-top {
    padding: 0px 25px;
  }
  .rec-products-container {
    padding-right: 0px;
  }
  .card-footer.border-0 .row.custom-row1.mb-5 {
    padding: 0px !important;
  }
  .rec-products-container .col-6 {
    width: 50%;
  }
  .rec-products-container .col-md-4 {
    width: 50%;
  }
  .row.brand-rating {
    width: 100%;
    margin: 0px !important;
  }
  .row.brand-rating .ml-10 {
    padding-bottom: 40px;
  }
  .row.product-rating {
    margin: 0;
  }
  /*.offcanvas.show:not(.hiding),
  .offcanvas.showing {
    padding-top: 0px;
  }*/
  .offcanvas-title {
    color: #000;
        text-transform: uppercase;
  }
  .visit-text p {
    font-size: 14px;
  }
  .col-md-4.text-end.col-4.company-name a {
    text-transform: uppercase;
  }
  .mob_tab_slider .slick-list{
     overflow: visible;
    }
  .input-icon-close{
    display: block;
  }
  img.input-icon-close {
      position: absolute;
      right: 15px;
      top: 12px;
      width: 7px;
      z-index: 9999;
  }
  body.home .row.mob-view .input-group {
    display: block;
}
button.btn-ongoing{
  /*margin-top: 20px;*/
  margin-top: 20px;
    margin-right: -20px;
    width: 65%;
}
button.btn-complete{
  margin-top: 20px;
}
.border-top.py-4.footer-bottom p {
  font-size: 12px;
  font-weight: 600;
}
.p-d-c.footer-text ul li {
  font-size: 14px;
  font-weight: var(--fc-nav-link-font-weight);
}
.offcanvas-title {
  color: #000;
}
.offcanvas-header {
  background-color: #f3f3f3;
}
div#offcanvasCategory .offcanvas-header.d-lg-none svg {
  display: none;
}
/*.filter-tp .offcanvas.show:not(.hiding), .offcanvas.showing {
  position: absolute;
  top:0;
  z-index: 2000 !important;
}*/
.filter-tp {
  padding-top: 0px !important;
 width: 100%;
  position: absolute;
  top: 0;
  z-index: 2000 !important;
}
.rc-slider-handle {
  border: solid 2px #000000 !important;
}
.line-break {
  width: 65px;
}
.mob-info-sidebar {
  padding-top: 95px !important;
}
.card.flash-sale-container h1.flash-sale {
  font-size: 12px;
}
.collect-banner {
  padding: 0px 0 !important;
}
body.home .cc-margin {
  margin: 1rem 0 !important;
  margin-bottom: 0px !important;
}
.flash-sale span {
  padding: 0 5px;
}
.product-filter-sidebar .offcanvas.show:not(.hiding), .offcanvas.showing {
  padding-top: 0px;
}

.custom-badge2 {
  left: -10%;
}
.text-size {
  font-size: 1.75rem;
  font-weight: 600;
  font-family: "BrandonText-Bold", sans-serif;
}
.return-policy-div h1,h6 {
  padding-bottom: 5px;
}
.form-group.has-search .product-search-icon-close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.out-of-stock-badge {
  position: absolute;
  text-transform: capitalize;
  z-index: 10;
  left: 15px;
  top: 110px;
}
.badge.out-of-stock-badge.left-badge  {
  position: absolute;
  text-transform: capitalize;
  z-index: 10;
  left: 0px;
  top: 14px;
  font-size: 8px;
}
.d-block.d-sm-none.footer-expand-section {
  margin-bottom: 10px;
}
.border-top.py-4.footer-bottom p.mb-5.text-size{
  font-weight: 600;
  line-height: normal;
  font-family: "BrandonText-Bold", sans-serif;
  font-size: calc(1.3rem + 0.6vw);
  margin-bottom: 0px !important;
}
.text-mid {
  text-align: left;
}
a.btn.btn-filter.w-100:focus {
  border:1px solid #000;
}
a.btn.btn-filter.w-100{
  border:1px solid #000 ;
}
.icon-end .lang-dropdown-menu {
  right: -35px;
  top: 30px;
}
.ftr-mcard {
  text-align: start;
}
.ftr-tamara img {
  width: 60px !important;
}
.mob-set {
  padding-right: 10px;
}
.row.mob-payment-icons.align-items-center img {
  width: 50px;
}
.footer-logo-size {
  width: 39px;
  padding-top: 5px;
}
.logo-m img.footer-logo-size {
  width: 50px;
  padding-top: 0px;
}
.flash-sale-container {
  padding-bottom: 0px;
}

img.notify-icon {
  display: inline-block;
}
.career-review-text.lg-none {
  display: block;
}
.gallery-flex ul li img {
  width: 100%;
  height: auto;
}
span.style-module_emptyIcons__Bg-FZ.empty-icons svg {
  width: 23px;
}
body.product-details  svg.star-svg {
  width: 23px;
} 
body.product-details .form-outline textarea.form-control {
  min-height: calc(1.6em + 1.1rem + 2px);
  height: 45px;
}
.btn-100 {
  width: 100%;
}
.mb-center {
  text-align: center;
}
.btn-complete {
 /*position: absolute;
  width: 140px;
  padding-left: 20px;*/
  position: static;
  width: 160px;
  padding-left: 20px;
}
body.product-details .otp-modal {
  padding: 20px 10px 45px 10px !important;
}
body.product-details div#ratingModal .otp-modal .btn-close {
  position: absolute;
  right: 3%;
  font-size: 10px;
}
body.checkout .cart-details-img {
  height: 90px;}
  body.checkout .checkout-left-card h6 {
    display: block;
    padding-right: 0px;
  }
  .react-multi-carousel-list.container-with-dots.fbt-product-plus .react-multiple-carousel__arrow--left {
    display: none;
}
.react-multi-carousel-list.container-with-dots.fbt-product-plus .react-multiple-carousel__arrow--right {
  display: none;
}
.react-multi-carousel-list.container-with-dots.fbt-product-plus .product-grid.slick-slider-alignment {
  width: 100%;
  margin: 0 auto;
}
.card-body.fbt-product-box {
  width: 100%;
}
button.btn.btn-dark.mt-2.fbt-add-to-cart {
  width: 95% !important;
  padding: 12px 0px;
  font-size: 13px !important;
  font-style: normal;
}
  h4.fbt-ellipsis-text {
    font-size: 14px !important;
}
.card-body.fbt-product-box .product-img{
  min-height: 170px !important;
}
.conatiner.pd-detail .col-md-5 .p-d {
  padding-bottom: 20px;
  padding-top: 10px;
}
body.orders .orders-card {
  padding: 20px 10px;
}
body.orders .orders-card label {
  font-size: 11px;
}
.order-flex {
  padding-right: 10px;
}
body.orders .react-multi-carousel-item .pds-0 h4 {
  padding-right: 10px;
}
body.orders .react-multi-carousel-item .order-img {
  width: 95px;
 height: auto;
}
body.order-details .order-img {
  width: 95px;
 height: 100px;
}
body.order-details .order-bottom-row h4 {
  font-size: 10px;
  height: 27px;
  overflow: hidden;
  padding-right: 5px;

}
body.order-details .order-bottom-row h2 {
  font-size: 11px;
  margin-top: 10px;
}
body.order-details .order-bottom-row h5 {
  font-size: 10px;
  text-transform: capitalize;
}
body.orders .react-multi-carousel-item h4 {
  font-size: 9px;
  height: 33px;
  overflow: hidden;
  line-height: 16px;

}
body.orders .react-multi-carousel-item  h2 {
    font-size: 13px;
    margin-top: 10px;
  }
  body.orders .order-bottom-row h5 {
    margin-top: 15px;
  }
  
body.orders .react-multi-carousel-item   h3 {
      font-size: 10px;}
  
      .order-bottom-row .react-multiple-carousel__arrow--left {
        left: calc(29% + 18px);
        display: none;
    }
    button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
      display: none;
  }
  body.orders .order-middle-row h3 {
    font-size: 10px;
}
body.orders .orders-card a {
  color: #000;
  font-size: 10px;
}
body.orders .order-middle-row p {
  font-size: 9px;
}

.order-bottom-row h3 {
    font-size: 9px !important;
  }
  body.orders  .order-details p {
    font-size: 9px;
}
body.order-details  .orders-card {
  padding: 15px;
}
body.order-details .order_status_disable {
  font-size: 9px;
}
body.order-details .text-lg-end {
  text-align: end;
}
.orders-card.order-details h3 {
  font-size: 11px !important;
}
.prd-0 {
  padding-left: 0px;
  padding-right: 0px
}
body.orders .order-top-row svg {
  margin-right: 3px !important;
  vertical-align: middle;
  width: 11px;
}
body.orders .order-middle-row {
  margin-top: 10px;
}
body.order-details .order-top-row svg {
  margin-right: 3px !important;
  vertical-align: middle;
  width: 7px;
}
body.order-details .order-middle-row {
  margin-top: 10px;
}
body.order-details .row.order-top-row label {
  font-size: 8px;
}
body.order-details .order-middle-row p {
  padding-top: 6px;
  font-size: 9px;
}
body.order-details .order-middle-row.align-items-center h3 {
  font-size: 9px !important;
}
body.home .footer {
  margin-top: 30px;
}

body.orders .float-end {
  margin-top: 2px;
}
.pds-0 {
  padding-right: 0;
}
body.orders .order-bottom-row h3 {
  margin-top: 0px;}
  body.returns .orders-card {
    padding: 20px 15px;
}
.wallet-card h3 {
  font-family: brandonTextBold,sans-serif;
  font-size: 15px;}
  body.blog-details .deatil-blog-content h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
body.blog-details .blog-detail-page {
  padding-top: 0px;
}
body.cart .promo-modal .modal-content {
  max-height: 470px;
  overflow-y: auto;
}
body.checkout .promo-modal .modal-content {
  max-height: 470px;
  overflow-y: auto;}

}

@media only screen and (min-width: 321px) and (max-width: 769px){
  body.home .cd-margin {
      margin-bottom: 0rem;
  }
  .border-top.py-4.footer-bottom .d-sm-block {
    padding-bottom: 50px;
}
body.checkout div#rating-tab-pane svg.regular-sort-icon  {
  display: block;
  visibility: visible !important;
}
.container-fluid.cc-margin.w-deals {
  padding: 0 15px;
}
}
@media(max-width: 320px){ 
  .category-top-img img {
    padding: 4px;
    max-width: 70px;
    max-height: 121px;
}
.category-top h1 {
  font-size: 16px;
}
.wallet-banner h1 {
  font-size: 20px;
}
.wallet-banner {
  border-radius: 9px;
  padding: 30px 20px;
}
.top-categories {
 padding: 6px;
}
.container-lg-fluid {
  --fc-gutter-x: 4rem;
  --fc-gutter-y: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  width: 100%;
}
.top-categories h3 {
  font-size: 10px;
}
.top-categories h1 {
  font-size: 15px;
}
.shop-preferences {
  padding: 25px 10px;
}
.slick-slider h3 {
  font-size: 10px;
}
.shop-preferences h1 {
  font-size: 15px;
}
.thumbnails {
  margin: 3px;
}
.brands-card h1 {
  font-size: 15px;
}
.brands-card h1 {
  font-size: 15px;
}
.ads-banner {
  padding: 10% 0;
  min-height: 145px;
  margin: 0 12px;
}
body.product-details .thumbnail-slide {
  display: none !important;
}
.incriment-button .d-end {
  display: flex !important;
  justify-content: flex-start !important;
}
.conatiner.pd-detail .mob-specs {
  padding: 0 4px;
}
.rec-products-container {
  padding: 8px 0px;
}
.product-desc-section h2 {
  color: #000;
  font-size: 11px;
}
.shop-more h1 {
  font-size: 15px;
}
.sub-abt h2 {
  font-size: 14px;
  line-height: 40%;
}
.start-explor a {
  width: 243px;
  height: 54px;
}
ol.breadcrumb {
  margin-bottom: 1rem;
  margin-top: 8px;
}
.product-desc-section h1 {
  font-size: 17px;
  padding-top: 10px;
}
body.products .product-box .btn-dark {
  padding: 4px !important;
  font-size: 8px;
}
body.products .discounted-price {
  font-size: 12px;
}
body.products .selling-price {
  font-size: 12px;
}
a.dropdown-toggle.text-dark.btn-filter {
  font-size: 12px;}
  .btn-filter {
    color: #000;
    font-family: var(--fc-font-light) !important;
    font-size: 12px !important;
    line-height: normal;
    border-radius: 3px;
    border: 0.7px solid #000;
    padding: 5px;
    text-align: start;
    font-weight: 400;
}
a.dropdown-toggle.text-dark.btn-filter {
  padding: 1px;
  display: block;
}
.sortHeader h6 {
  font-size: 12px;
}
svg.regular-sort-icon {
  vertical-align: middle;
  width: 15px;
}
.product-grid h4 {
  height: 44px;
}
.container-fluid .col-12.px-10 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.btn-returned {
  width: 134px;
  left: 123px;
  padding: 6px 0px 5px 0px;
  height: 35px;
}
.img-nav-link {
  padding: 15px 0px;
  text-align: center !important;
}
.img-nav-link {
  padding: 15px 0px;
}
.dropdown-item {
  border-bottom: 0.5px solid #bdbebb;
  border-radius: 0px !important;}
}
.menu-zindex {
  z-index: -1 !important;
}
.bottom-nav{
  z-index: 9999 !important;
}