@media (max-width: 1440px) {
  .container-new {
    width: 100%;
    max-width: 1150px;
  }
  .order-bottom-row .react-multiple-carousel__arrow--left {
    left: calc(29% + 18px);}
  .navbar .dropdown-fullwidth .dropdown-menu {
    max-height: 75vh;
  }
  .image-list-one img {
    height: 500px;
  }
  .deatil-blog-content h1 {
    font-size: 29px;
  }
  .owl-carousel.owl-theme.owl-slider button.owl-prev {
    left: -50px;
  }
  .owl-carousel.owl-theme.owl-slider button.owl-next {
    right: -50px;
  }
  .blog-sub-text h2 {
    font-size: 29px;
  }
  .blog-content h2 {
    font-size: 34px;
  }
  .blog-content-sub h2 {
    color: #000;
    font-family: "BrandonText-Bold", sans-serif;
    font-size: 19px;
    padding-bottom: 15px;
  }
  .blog-content-sub p {
    font-size: 13px;
  }
  .blog-content-sub a {
    margin-top: 40px;
    font-size: 13px;
  }
  span.blog-date {
    font-size: 13px;
    display: block;
    padding-top: 35px;
  }
  .storage-care-img img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }
  .storage-rows p {
    color: #000;
    text-align: justify;
    font-family: "BrandonText-Regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 390;
    line-height: 187.99%;
    letter-spacing: 1.1px;
    text-transform: capitalize;
  }
  .blog-text-personality p {
    font-size: 13px;
  }
  .blog-text-personality h3 {
    font-size: 19px;
  }
  .blog-text-personality a {
    line-height: 143%;
    margin-top: 60px;
    display: inline-block;
    font-size: 13px;
  }
  .left-gallery-one img {
    height: 525px;
  }
  .right-gallery-one img {
    height: 257px;
  }
  .gallery-flex ul li img {
    width: 100%;
    height: 459px;
  }
  .storage-rows a {
    font-size: 13px;
  }
  .blog-col-1 img {
    height: 380px;
  }
  ol.breadcrumb {
    margin-bottom: 2rem;
    margin-top: 50px;
  }

  .brand-rating-date {
    font-size: 11px;
    line-height: 24px;
  }
  .col-md-5.col-4.icon-end {
    text-align: center;
  }
 
  .input-group-custom.input-spinner {
    justify-content: center;
    margin-left: 29px;
  }
  
}
@media (max-width: 1366px) {
  .container-new {
    width: 90%;
    margin: 0 auto;
  }
  li.nav-item.mb-2.ft-top {
    padding-right: 10px;
    margin-bottom: -14px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .container-new {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-new {
    width: 90%;
    margin: 0 auto;
  }
  .product-grid h4 {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
    text-align: left !important;
  }
  .right-gallery-one img:nth-child(1) {
    padding-bottom: 1px;
  }
  .right-gallery-one img:nth-child(2) {
    padding-top: 1px;
  }
  .visit-text a {
    margin-top: 25px;
    display: flex;
    width: 130px;
    height: 40px;
    padding: 16px 20px;
  }
  .owl-carousel.owl-theme.owl-slider button.owl-next {
    right: -39px;
  }
  .owl-carousel.owl-theme.owl-slider button.owl-prev {
    left: -40px;
  }
  .wi-50 {
    width: 100%;
    text-align: center;
    padding: 30px;
  }
  .career-review-text h3 {
    font-size: 17px;
  }
  .career-review-text p {
    font-size: 13px;
  }
  .apply-form form {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
  }
  .selling-price {
    font-size: 13px;
  }
  .discounted-price {
    font-size: 13px;
  }
  .discount-percentage {
    font-size: 13px;
  }
  .storage-care-img img {
    width: 120px;
    height: 120px;
  }
  .blog-content-sub p {
    font-size: 11px;
    line-height: 18px;
  }
  .blog-text-personality p {
    font-size: 11px;
    line-height: 18px;
  }
  .storage-rows p {
    font-size: 12px;
    font-weight: 390;
    line-height: 170.99%;
    letter-spacing: normal;
  }
  .storage-rows a {
    font-size: 13px;
  }
  .blog-sub-text h2 {
    font-size: 22px;
    font-weight: 450;
    line-height: 144.49%;
  }
}
@media screen and (max-width: 767px) {
  .container-new {
    width: 90%;
  }
  .image-list-one img {
    height: 246px;
  }
  .right-gallery-one img:nth-child(2) {
    padding-top: 0px;
  }
  .right-gallery-one img:nth-child(1) {
    padding-bottom: 0px;
  }
  .info-text p {
    font-size: 12px;
    font-weight: 390;
    line-height: 22px;
  }
  .sub-abt p {
    font-size: 12px;
    font-weight: 390;
    line-height: 22px;
  }
  .sub-abt h2 {
    font-size: 16px;
    line-height: 40%;
  }
  section.abut-section {
    padding-bottom: 30px;
  }
  .start-explor {
    padding: 30px 0px;
  }
  .viisit-img {
    width: 45%;
  }
  .visit-text {
    width: 55%;
    background-color: #000;
    max-height: 349px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    box-sizing: border-box;
  }
  .viisit-img img {
    width: 100%;
    height: 235px;
  }
  .visit-text a {
    margin-top: 15px;
    width: 110px;
    height: 24px;
    padding: 16px 16px;
    gap: 38px;
    flex-shrink: 0;
    font-size: 11px;
  }
  .visit-row {
    margin-top: 30px;
    flex-wrap: wrap;
  }
  .t-gap {
    margin-top: 30px;
  }
  .visit-tittle h1 {
    text-align: center;
  }
  .visit-tittle {
    width: 100%;
  }
  .choose-emirates {
    width: 100%;
    text-align: right;
    padding-top: 20px;
  }
  .visit-text h2 {
    font-size: 18px;
    line-height: 30px;
  }
  .store-address {
    width: 100%;
  }
  .store-hours {
    width: 100%;
  }
  .store-contact {
    width: 100%;
  }
  .row-details {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px;
    gap: 0px 0px;
  }
  .row-details h2 {
    font-size: 17px;
    line-height: 55px;
  }
  .row-details h5 {
    font-size: 17px;
  }
  .row-details p {
    font-size: 14px;
    line-height: 50px;
  }
  .direction-btn a {
    display: flex;
    width: 300px;
  }
  .lg-none {
    display: block;
  }
  .sm-none {
    display: none;
  }
  .slid-mobview img {
    width: 100%;
  }
  .slid-mobview {
    padding-bottom: 25px;
  }
  .carrer-listing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .sales-list {
    width: 85%;
    margin: 0 auto;
  }
  .marketing-list {
    width: 85%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .finance-list {
    width: 85%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .corporate-list {
    padding-top: 30px;
    width: 85%;
    margin: 0 auto;
  }
  .career-review-img {
    width: 50%;
    display: none;
  }
  .career-review-text {
    width: 100%;
  }
  .wi-50 {
    width: 100%;
    text-align: center;
    padding: 30px;
  }
  .career-review-text h3 {
    font-size: 15px;
    line-height: 30px;
  }
  .career-review-text p {
    font-size: 13px;
  }
  .carrer-listing ul li {
    font-size: 13px;
    line-height: 27px;
  }
  .carrer-listing ul {
    padding-top: 10px;
  }
  .carrer-listing h3 {
    font-size: 17px;
  }
  .carrer-listing {
    width: 100%;
  }
  .career-review-text span {
    display: inline;
  }
  .apply-form form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .apply-form .form-group {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .apply-form input[type="text"],
  input[type="file"] {
    width: 100%;
  }
  .faq-w {
    width: 100%;
  }
  .faq-accordion li a {
    color: #666;
    padding: 0;
  }
  .blog-sub-text h2 {
    font-size: 17px;
  }
  .blog-rows {
    display: flex;
    flex-direction: column;
  }
  .blog-col-1 {
    width: 100%;
  }
  .blog-col-2 {
    width: 100%;
  }
  .blog-content-sub {
    padding: 20px 0px;
  }
  .storage-rows {
    display: flex;
    flex-direction: column;
  }
  .storage-care {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 0px;
  }
  .shelf-life {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-top: 35px;
  }
  .storage-care {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 0px;
  }
  .storage-care-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .storage-rows p {
    font-size: 11px;
    font-weight: 390;
    line-height: 163.99%;
    letter-spacing: 1.1px;
    max-height: max-content;
    overflow: visible;
  }
  .storage-rows a {
    font-size: 11px;
    font-weight: 390;
    line-height: 35px;
  }
  .blog-text-personality h3 {
    font-size: 17px;
  }
  .blog-img-personality {
    padding-left: 0px;
  }
  section.perfume-row-3 {
    padding: 0px;
  }
  .blog-content-sub h2 {
    padding: 15px 0px;
  }
  .order-1 {
    order: 0;
  }
  .order-2 {
    order: 1;
  }
  .blog-text-personality {
    padding: 20px 0px;
  }

  .bg-blog-banner {
    background-image: url(../images/blog-banner.webp);
    background-position: center;
    width: 100%;
    min-height: 340px;
  }
  .blog-content {
    padding: 25px;
  }
  .blog-content h2 {
    font-size: 24px;
  }
  .blog-content a {
    display: flex;
    width: 144px;
    height: 35px;
    padding: 16px 36px;
    justify-content: center;
    align-items: center;
    gap: 38px;
    font-size: 10px;
    margin-top: 19px;
  }
  .title-page {
    padding: 20px 0px;
  }

  .visit-tittle {
    width: 100%;
  }
  .blog-col-1 img {
    height: 350px;
  }
  .right-gallery-one img {
    height: 122px;
  }
  .left-gallery-one img {
    height: 253px;
  }
  .details-full-img {
    width: 100%;
  }
  .deatil-blog-content h1 {
    font-size: 20px;
  }
  .deatil-blog-content h2 {
    font-size: 18px;
  }
  .deatil-blog-contents h3 {
    font-size: 18px;
  }
  .blog-detail-page {
    padding-top: 40px;
  }
  .deatil-blog-content p {
    font-size: 12px;
    line-height: 25px;
  }
  .deatil-blog-contents p {
    font-size: 12px;
    line-height: 25px;
  }
  .date-text p {
    font-size: 11px;
  }
  .storage-rows h3 {
    font-size: 16px;
    line-height: 50px;
  }
  .product-grid .card-footer {
    margin: 0;
  }
  .card-footer.border-0 h4.ellipsis-text {
    font-size: 12px !important;
    padding-left: 4px;
  }
  .sortHeader h5 {
    text-align: center;
    padding-bottom: 15px;
  }
  a.dropdown-toggle.text-dark.btn-filter {
    padding: 5px;
    display: block;
  }
  
.flash-sale-box span img,
  svg {
    vertical-align: middle;
  }

  .d-block.d-lg-none.my-2 {
    margin-bottom: 0px !important;
  }
  .col-lg-9.col-md-12 .mt-4 {
    margin-top: 5px !important;
  }
  .visit-row ul li {
    width: 100%;
  }

  .offcanvas {
    z-index: 999 !important;
  }
  .product-grid h4 {
    white-space: normal;
    line-height: 20px;
    height: 58px;
    text-align: left !important;
  }
  button.ModalBtn.offer-button {
    display: none;
  }
  .container.d-block.d-sm-none.mob-count {
    position: absolute;
    top: -14px;
  }
  .banner-flashsale {
    position: relative;
  }
  .flash-sale-container h1 {
    text-align: left;
  }
  .col-lg-9.col-md-12.brands-sub {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    width: 95% !important;
    margin: 0 auto;
  }
  .col-auto.search-tag {
    margin-right: 20px;
  }
  .hd-left {
    padding-left: 35px;
  }
  h1.mb-5.flash-sale {
    text-align: center;
  }
  .custom-badge {
    position: absolute;
    left: -17px;
    transform: scale(0.55);
    top: 4px;
  }
  .my-bag-spinner {
    transform: scale(0.65);
    position: relative;
    left: -26%;
  }
  .conatiner.pd-detail .row.mb-5 {
    padding: 0 15px;
  }
  .conatiner.pd-detail .mob-specs {
    padding: 0 15px;
  }
  span.color-txt {
    color: #a7a9a2;
  }
  div#myTabContent button.btn.btn-dark.validate {
    margin-left: 5px !important;
    padding-left: 40px;
    padding-right: 40px;
    width: 94%;
  }
  h6.ps-15.h6 {
    padding-left: 4rem !important;
  }
  li.list-group-item.ps-0.d-flex.justify-content-between.align-items-start.border-tp {
    border-top: solid 1px #e8dede;
  }
  .col.best-scroll {
    max-height: none;
    overflow-y: auto;
  }
  footer.footer .container {
    width: 100% !important;
  }
  .d-flex.justify-content-between.align-items-center.d-md-none.py-4
    h3.fs-5.mb-0 {
    display: none;
  }
  .card.checkout-left-card hr {
    width: 90%;
    margin: 0 auto;
  }
  .checkout-left-card h4 {
    color: #000;
    font-family: var(--fc-font-medium);
    font-size: 12px;
    text-transform: capitalize;
    line-height: 180%;
    max-height: 45px;
    overflow: hidden;
  }
  ul.list-group.list-group-flush.mob-flush li:first-child {
    margin-right: 0 !important;
    padding-right: 13px;
  }
  .alert-box-bag-empty p {
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  #price-my-bag .selling-price {
    padding-left: 5px;
  }
  #price-my-bag .discount-percentage {
    margin-left: 0px;
  }
  .my-bag-card {
    margin: 20px 0 10px 0;
  }
  .input-group-custom.input-spinner {
    justify-content: center;
    margin-left: 30px;
  }
  .mob-change {
    padding: 0px 20px;
  }
  .col-md-6.col-12.text-end.mob-change a {
    display: inline-block;
    padding-right: 20px;
    padding-top: 20px;
  }
  .icon-input__icon {
    display: block;
  }
  .icon-input__icon {
    top: 17px !important;
    right: 1rem;
    transform: translateY(-50%);
    width: 14px;
  }
  .mob-view .input-group .form-control {
    padding: 5px 20px !important;
  }
  .row.search-container.row.search-top {
    padding: 0px 25px;
  }
  .row.mob-view .input-group {
    display: none;
  }
  /*body.home .row.mob-view .input-group {
    display: block !important;
  }*/
  .fixed-top-margin {
    margin-top: 10px;
  }
  .product-single-price,
  .product-single-discounted-price,
  .product-single-discounted {
    font-size: 13px !important;
  }
  .row.full-views .col-4 {
    margin-right: 0px;
    padding-right: 0px;
    width: 30%;
  }
  .row.full-views .row.icon-section {
    justify-content: end;
    padding-right: 20px;
  }
  .row.full-views .col-md-8.col-8 {
    padding-right: 0px;
  }
  body.wishlist .fixed-top-margin.main-layout {
    margin-top: 5px !important;
  }
  .fixed-top {
    padding-bottom: 5px;
  }
  .fixed-top-margin {
    margin-top: 5px;
  }
  body.cart .fixed-top-margin {
    margin-top: 5px;
  }
  body.wishlist .fixed-top-margin.main-layout {
    margin-top: 5px;
  }

  .d-flex.justify-content-between.align-items-center.d-md-none.py-4 {
    display: none !important;
  }
  .row.p-ul ul li {
    list-style-type: disc;
  }
  .search-top {
    padding: 0px 25px;
  }
  .rec-products-container {
    padding-right: 0px;
  }
  .card-footer.border-0 .row.custom-row1.mb-5 {
    padding: 0px !important;
  }
  .rec-products-container .col-6 {
    width: 50%;
  }
  .rec-products-container .col-md-4 {
    width: 50%;
  }
  .row.brand-rating {
    width: 100%;
    margin: 0px !important;
  }
  .row.brand-rating .ml-10 {
    padding-bottom: 40px;
  }
  .row.product-rating {
    margin: 0;
  }
  /*.offcanvas.show:not(.hiding),
  .offcanvas.showing {
    padding-top: 0px;
  }*/
  .offcanvas-title {
    color: #000;
        text-transform: uppercase;
  }
  .visit-text p {
    font-size: 14px;
  }
  .col-md-4.text-end.col-4.company-name a {
    text-transform: uppercase;
  }
  .mob_tab_slider .slick-list{
     overflow: visible;
    }
  .input-icon-close{
    display: block;
  }
  img.input-icon-close {
      position: absolute;
      right: 15px;
      top: 12px;
      width: 7px;
      z-index: 9999;
  }
  body.home .row.mob-view .input-group {
    display: block;
}
button.btn-ongoing{
  margin-top: 20px;
}
button.btn-complete{
  margin-top: 20px;
}
.border-top.py-4.footer-bottom p {
  font-size: 12px;
  font-weight: 600;
  font-family: BrandonText-Bold,sans-serif;
}
.p-d-c.footer-text ul li {
  font-size: 14px;
  font-weight: var(--fc-nav-link-font-weight);
}
.offcanvas-title {
  color: #000;
}
.offcanvas-header {
  background-color: #f3f3f3;
}
div#offcanvasCategory .offcanvas-header.d-lg-none svg {
  display: none;
}
/*.filter-tp .offcanvas.show:not(.hiding), .offcanvas.showing {
  position: absolute;
  top:0;
  z-index: 2000 !important;
}*/
.filter-tp {
  padding-top: 0px !important;
 width: 100%;
  position: absolute;
  top: 0;
  z-index: 2000 !important;
}
.rc-slider-handle {
  border: solid 2px #000000 !important;
}
.line-break {
  width: 65px;
}
.mob-info-sidebar {
  padding-top: 95px !important;
}
.collect-banner {
  padding: 0px 0;
}
}
.menu-zindex {
  z-index: -1 !important;
}
.bottom-nav{
  z-index: 9999 !important;
}